html {
    background-color: #0e1318;
    color: #dadada;
    font-family: "Open Sans",sans-serif;
}

body {
    width: 50%;
    min-width: 540px;
    margin: auto;
}

a {
    color: #5fa4ff;
}

h1, h2, h3 {
    text-align: center;
    color:#eb802b;
    font-family: "Righteous",sans-serif;
}

.hash-icons img, .hash-icons-2x img, a.hash-icons, a.hash-icons-2x {
    text-decoration: none;
}

.hash-icons img {
    width: 32px;
    height: 32px;
}

.hash-icons-2x img {
    width: 64px;
    height: 64px;
}