html {
    background-color: #0e1318;
    color: #dadada;
    font-family: "Open Sans",sans-serif;
}

body {
    width: 50%;
    min-width: 600px;
    max-width: 750px;
    margin: auto;
}

@media only screen and (max-width: 750px) {
    body {
        width: 92%;
        min-width: 400px;
        max-width: 100%;
    }
}

a {
    color: #5fa4ff;
}

h1 {
    font-size: 2.8em;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2, h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

h1, h2, h3, h1 a {
    text-align: center;
    color:#eb802b;
    text-decoration-color: #eb802b;
    font-family: "Righteous",sans-serif;
}

.seed-form {
    display: block;
    margin: 0 25% auto;
}

.hash-icons img, .hash-icons-2x img, a.hash-icons, a.hash-icons-2x {
    display: inline-block;
    text-decoration: none;
}

.hash-icons img {
    width: 32px;
    height: 32px;
}

.hash-icons-2x img {
    width: 64px;
    height: 64px;
}

.recent-seed-info {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 24px;
}

button, .button {
    display: block;
    margin: 20px auto;
    width: 10em;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.download-button {
    background-color: #b6cde5;
    color: #1f568c;
}

.download-button:hover {
    transition: all 0.2s;
    background-color: #839ebb;
    color: #0e3e6d;
}

.raw-settings {
    color: white;
    background-color: #2d2d2d;
}

.randoSettings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.seedSetting {
    padding: 10px;
    flex-basis: 20%;
}

.seedSetting label {
    font-weight: bold;
    font-size: 1.1em;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
}