{{ define "button" }}
<button 
    type="{{if .Type}}{{.Type}}{{else}}button{{end}}"
    {{ if .Id }} id="{{.Id}}"{{ end }}
    class="w-sm px-10 py-3 cursor-pointer bg-orange-600 hover:bg-orange-500 text-zinc-950 font-bold rounded-lg uppercase tracking-widest transition-all active:scale-95 shadow-lg shadow-orange-900/20 {{.Class}}"
    {{if .HXGet}} hx-get="{{.HXGet}}" {{end}}
    {{if .HXPost}} hx-post="{{.HXPost}}" {{end}}
    {{if .HXDelete}} hx-delete="{{.HXDelete}}" {{end}}
    {{if .HXTarget}} hx-target="{{.HXTarget}}" {{end}}
    {{if .HXSwap}} hx-swap="{{.HXSwap}}" {{end}}>
    {{.Label}}
</button>
{{ end }}