<html>
    {{ template "head" }}
    <body>
        <h1>OOT Rando Explorer</h1>
        <h2>Upload or check a seed</h2>
        <form id="seed-form" action="/uploadseed" method="POST" enctype="multipart/form-data">
            <input name="spoilerlog" type="file" required=""/>
            <button type="submit">Upload</button>
            <label id="upload-errors"></label>
        </form>
        <h3>Most Recent Seeds</h3>
        {{ range .seeds }}
        <div>
            <a href="/s/{{ .FileHash }}">{{ .FileHash }}</a> | {{ .Version }} <i>({{ .FormattedUploadTime }})</i>
        </div>
        {{ end }}
    </body>
</html>