<!DOCTYPE html>
<html>
    {{ template "head" }}
    <body>
        {{ template "banner.html" . }}
        <h1>OOT Rando Explorer</h1>
        <h2>Upload or check a seed</h2>
        {{ if .User }}
        <div class="seed-form">
            <input form="seed-form" name="spoilerlog" type="file" required="" accept=".json"/>
            {{ block "uploadSeed" toErrors . }}
            <form id="seed-form" hx-post="/uploadseed"
                hx-encoding="multipart/form-data"
                hx-swap="outerHTML"
                hx-target="#seed-form">
                <button type="submit">Upload</button>
                {{ template "error.html" . }}
            </form>
            {{ end }}
        </div>
        {{ else }}
            <div>You must be <a href="/login">logged in</a> to upload</div>
        {{ end }}
        <h3>Most Recent Seeds</h3>
        {{ range .seeds }}
            {{ template "seedwithuploadtime" . }}
        {{ end }}
    </body>
</html>