<!DOCTYPE html>
<html>
    {{ template "head" }}
    <body>
        {{ template "banner.html" . }}
        <h1>Sign In</h1>
        <div class="login-form">
            {{ block "loginform" . }}
            <form id="login-form" hx-post="/login/auth" hx-target="this" hx-swap="outerHTML">
                <div>
                    <label for="username">Username</label>
                    <input name="username" type="text" required="" maxlength="30" value="{{ .Username }}"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input name="password" type="password" required="" maxlength="100" value="{{ .Password }}"/>
                </div>
                {{ template "error.html" .Errors }}
                <!-- TODO: CAPTCHA -->
                <button type="submit">Login</button>
                <div>
                    Don't have an account? <a href="/signup">Create one now!</a>
                </div>
            </form>
            {{ end }}
        </div>
    </body>
</html>
