<html>
    {{ template "head" }}
    <body>
        <a href="/">
            <h1>OOT Rando Explorer</h1>
        </a>
        <h2>Seed</h2>
        <h2>
            {{ .FileHash }}
        </h2>
        <a href="/download/{{ .FileHash }}">Download</a>
        <div>Uploaded {{ .UploadTime }}</div>
        <div>{{ .Version }}</div>
        <div class="randoSettings">
            {{ .Logic }},
            Shopsanity {{ .Shopsanity }},
            Tokensanity {{ .Tokensanity }},
            Scrubsanity {{ .Scrubsanity }}
        </div>
        <div>
            <textarea disabled>{{ .RawSettings }}</textarea>
        </div>
    </body>
</html>