{{ define "seedwithuploadtime" }}
<a href="/s/{{ .FileHash }}">
    <div class="bg-zinc-900 border border-zinc-800 p-4 rounded-lg hover:border-orange-500/50 transition-colors group">
            {{ range fileHashIcons .FileHash }}
                <img class="inline" src="{{.}}"/>
            {{end}}
        <span class="text-md text-zinc-400 font-medium">
            {{ .CachedVersion }} <span class="italic">(<time datetime="{{ .FormattedUploadTime }}">({{ .FormattedUploadTime }})</time>)</span>
        </span>
    </div>
</a>
{{ end }}
