<html>
    {{ template "head" }}
    <body>
        <h1>
            <a href="/">
            OOT Rando Explorer
            </a>
        </h1>
        <h2>Seed</h2>
        <h2 class="hash-icons-2x">
            {{ range fileHashIcons .Seed.FileHash }}
                <img src="{{.}}"/>
            {{end}}
        </h2>
        <section>
            <a class="button download-button" href="/download/{{ .Seed.FileHash }}">Download</a>
        </section>
        <section>
            <div>Uploaded {{ .Seed.CreatedAt }}</div>
            <div>{{ .Seed.Version }}</div>
        </section>
        {{ template "seedrank" . }}
        <h2>Settings</h2>
        <div class="randoSettings">
            {{ range .Seed.Settings }}
                <div class="seedSetting">
                    <label>{{ .Label }}</label>
                    <div class="settingValue">{{ .Value }}</div>
                </div>
            {{ end}}
        </div>
        <div>
            <div>All settings:</div>
            <textarea class="raw-settings" disabled rows="30" cols="80">{{ .Seed.RawSettings }}</textarea>
        </div>
    </body>
</html>