<!DOCTYPE html>
<html>
    {{ template "head" }}
    <body class="wide">
        {{ template "banner.html" . }}
        <h1>Top Seeds</h1>
        <div class="top-seeds">
            <div class="top-seeds-category">
                <h2>Baby Seeds</h2>
                <div hx-get="/top/difficulty/easy" hx-trigger="load">
                    <div class="htmx-indicator">Loading...</div>
                </div>
            </div>
            <div class="top-seeds-category">
                <h2>Hardest Seeds</h2>
                <div hx-get="/top/difficulty/hard" hx-trigger="load">
                    <div class="htmx-indicator">Loading...</div>
                </div>
            </div>
            <div class="top-seeds-category">
                <h2>Most Fun Seeds</h2>
                <div hx-get="/top/fun" hx-trigger="load">
                    <div class="htmx-indicator">Loading...</div>
                </div>
            </div>
        </div>
    </body>
</html>
{{ define "topseeds" }}
    {{ range .AvgSeedRanks }}
        <div>
            <a href="/s/{{ .Seed.FileHash }}" class="hash-icons">
                {{ range fileHashIcons .Seed.FileHash }}
                    <img src="{{.}}"/>
                {{end}}
            <span class="top-seed-info">
                {{ .TotalVotes }} votes, Difficulty: {{ .Difficulty }}, Fun: {{ .Fun }}
            </span>
            </a>
        </div>
    {{ end }}
    {{ if .AvgSeedRanks }}
        <a href="#" hx-get="{{ .LoadMoreAction }}?lastvalue={{ .LastValue }}&lastid={{ .LastID }}" hx-swap="outerHTML">
            Load more
        </a>
    {{ else }}
        <div>That's the end!</div>
    {{ end }}
{{ end }}