{{ define "uploaderComment" }}
    <div hx-target="this" hx-swap="outerHTML">
    {{ if .Seed.UploaderComment }}
    <span class="text-md text-zinc-400 font-medium">Uploader's comment:</span>
    <blockquote class="max-w-2xl p-4 mx-auto italic text-md text-zinc-400 font-medium mt-2 bg-zinc-600/20">
        {{ preserveLinebreaks .Seed.UploaderComment }}
    </blockquote>
    {{ if .UserCanEdit }}
        <div class="max-w-xl mx-auto p-6">
            <button class="sm:w-auto px-6 py-2 bg-orange-600 hover:bg-orange-500 text-zinc-950 font-bold rounded-lg uppercase tracking-widest transition-all active:scale-95 shadow-lg shadow-orange-900/20"
                hx-get="/s/{{ .Seed.FileHash }}/uploadercomment/edit" id="updateComment">
                Edit Comment
            </button>
        </div>
    {{ end }}
    {{ else }}
        {{ if .UserCanEdit }}
            <div class="max-w-xl mx-auto p-4">
                <button class="sm:w-auto px-6 py-2 bg-orange-600 hover:bg-orange-500 text-zinc-950 font-bold rounded-lg uppercase tracking-widest transition-all active:scale-95 shadow-lg shadow-orange-900/20"
                    hx-get="/s/{{ .Seed.FileHash }}/uploadercomment/edit" id="updateComment">
                    Add Comment
                </button>
            </div>
        {{ end }}
    {{ end }}
    </div>
{{ end }}
{{ define "editUploaderComment" }}
    <form hx-post="/s/{{ .Seed.FileHash }}/uploadercomment" hx-target="this" hx-swap="outerHTML">
        {{ if or .Error "" }}
            <span class="text-red-500">{{ .Error }}</span>
        {{ end }}
        <div>
            <textarea class="bg-zinc-700 text-zinc-100 font-sans selection:bg-orange-500/30 js-charactersRemaining"
                name="uploaderComment" rows="8" cols="50" maxlength="500">
                {{- .Seed.UploaderComment -}}
            </textarea>
        </div>
        <div>
            <button class="mx-2 inline sm:w-auto px-6 py-2 bg-zinc-600 hover:cursor-pointer hover:bg-zinc-400 text-zinc-950 font-bold rounded-lg uppercase tracking-widest transition-all active:scale-95 shadow-lg shadow-zinc-900/20"
                hx-get="/s/{{ .Seed.FileHash }}/uploadercomment">
                Cancel
            </button>
            {{ template "button" dict "Type" "submit"
                "Label" "Submit" "Class" "inline" }}
        </div>
    </form>
{{ end }}