{{ define "uploaderComment" }}
    <div hx-target="this" hx-swap="outerHTML">
    {{ if .Seed.UploaderComment }}
    <span class="uploaderCommentLabel">Uploader's comment:</span>
    <blockquote>
        {{ preserveLinebreaks .Seed.UploaderComment }}
    </blockquote>
    {{ if .UserCanEdit }}
        <button class="small-btn" hx-get="/s/{{ .Seed.FileHash }}/uploadercomment/edit" id="updateComment">Edit Comment</button>
    {{ end }}
    {{ else }}
        {{ if .UserCanEdit }}
            <button class="small-btn" hx-get="/s/{{ .Seed.FileHash }}/uploadercomment/edit" id="updateComment">Add Comment</button>
        {{ end }}
    {{ end }}
    </div>
{{ end }}
{{ define "editUploaderComment" }}
    <form hx-post="/s/{{ .Seed.FileHash }}/uploadercomment" hx-target="this" hx-swap="outerHTML">
        {{ if or .Error "" }}
            <span class="error">{{ .Error }}</span>
        {{ end }}
        <div>
            <textarea class="comment" name="uploaderComment" rows="8" cols="50">
                {{- .Seed.UploaderComment -}}
            </textarea>
            {{/* TODO: characters remaining JS */}}
        </div>
        <div class="inline-buttons">
            <button class="small-btn" hx-get="/s/{{ .Seed.FileHash }}/uploadercomment">Cancel</button>
            <button class="small-btn primary" type="submit">Submit</button>
        </div>
    </form>
{{ end }}